#**Tugas Praktikum-2 Natural Language Processing (NLP)**

#**Nama : Gavrilla Claudia**

#**NIM : 21110004**

In [11]:
pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (19.10.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [12]:
from faker import Faker

fake = Faker()

jumlah_data = 51

dummy_data = []

for _ in range(jumlah_data):
    nama = fake.name()
    nomor_telepon = fake.phone_number()
    alamat = fake.address()
    email = fake.email()

    data = f"Nama: {nama}\nNomor Telepon: {nomor_telepon}\nAlamat: {alamat}\nEmail: {email}\n"
    dummy_data.append(data)

file_name = "dummy_data.txt"
with open(file_name, "w") as file:
    for data in dummy_data:
        file.write(data + "\n")

print(f"{jumlah_data} data dummy telah disimpan dalam {file_name}.")

51 data dummy telah disimpan dalam dummy_data.txt.

In [13]:
import re

pattern = r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z.]+"

# [a-zA-Z0-9_.+-] untuk mencari awal (username sebelum email) termasuk semua huruf, tanda _.+ dan -
# + setelahnya menunjukkan bahwa harus ada setidaknya 1 kecocokan string dengan ekspresi regex sebelumnya
# @ adalah simbol yang digunakan untuk menghubungkan username dengan domain name.
# [a-zA-Z0-9-] adalah nama alamat domain setelah tanda @
# \. menandakan bahwa harus ada titik setelah ekspresi sebelumnya
# [a-zA-Z]+ menandakan nama domain pada alamat email ex: net, biz, com

with open("dummy_data.txt", "r") as f:
    data = f.readlines()

emails = []

for line in data:
    match = re.search(pattern, line)
    if match:
        emails.append(match.group())
print(emails)

['fergusoncandice@example.com', 'palmerholly@example.com', 'robert63@example.org', 'psmith@example.com', 'phamkelly@example.org', 'williamsrhonda@example.com', 'brittanyprince@example.org', 'ebaker@example.com', 'steven86@example.org', 'carlahardin@example.com', 'olam@example.com', 'hopkinsmarvin@example.org', 'terripitts@example.org', 'besttoni@example.org', 'sjacobson@example.com', 'sharonwiggins@example.com', 'martinezcraig@example.com', 'ismith@example.com', 'krista08@example.net', 'martinezshelly@example.net', 'shannonwillis@example.net', 'fostermarcus@example.net', 'alan98@example.org', 'tbanks@example.com', 'reedtimothy@example.org', 'danamiller@example.com', 'rwalters@example.com', 'ronaldmartin@example.org', 'heather22@example.org', 'julia64@example.net', 'morganpatton@example.org', 'mcconnellkimberly@example.net', 'rachelpeterson@example.com', 'krogers@example.com', 'mfowler@example.com', 'holmesamanda@example.org', 'kdiaz@example.com', 'justingarcia@example.net', 'beckergary@example.net', 'brownmatthew@example.net', 'drakeryan@example.com', 'kathrynarmstrong@example.com', 'williamschristopher@example.org', 'zoevaughan@example.com', 'grantmichael@example.com', 'lpayne@example.net', 'efuller@example.com', 'uburke@example.org', 'sarahwalker@example.net', 'areyes@example.org', 'robert22@example.org']

In [14]:
with open("dummy_data.txt", "r") as f:
    teks = f.readlines()
    text = "".join(teks)

pola_nomor_telepon = r'Nomor Telepon:\s+([\d+()-]+)'
nomor_telepon = re.findall(pola_nomor_telepon, text)

nums = []
# Mengambil nomor telepon yang cocok
for num in nomor_telepon:
    # Substituting multiple spaces with single space
    num = re.sub(r'\s+', '', num, flags=re.I)

    # Menghilangkan karakter spesial
    num = re.sub(r'\W', '', num)
    nums.append(num)

# Output data Preprocessing
nums

['274',
 '0012554908535',
 '6519921541',
 '13007414573',
 '0016579793268',
 '9203504614',
 '8656120414',
 '17573688315',
 '402',
 '6437763061',
 '17927141352',
 '5413385236',
 '0018108403855',
 '2897151219',
 '19569008896',
 '6762175047',
 '15044197073',
 '0018437584408',
 '8694970102',
 '0013168992459',
 '740',
 '684',
 '200',
 '9136179939',
 '0014074028429',
 '7712647980',
 '9389754133',
 '571',
 '9299743231',
 '8617002255',
 '427',
 '295',
 '9138818411',
 '0014163185539',
 '13066022987',
 '411',
 '18218263036',
 '0015287029472',
 '399',
 '0018256076720',
 '8754392486',
 '515',
 '6646595611',
 '4322890122',
 '3933101100',
 '4616501050',
 '6728847128',
 '7709986760',
 '5202372020',
 '0013027687945',
 '4103020361']

In [15]:
import pandas as pd
pd.DataFrame({"email": emails, "nomor_telepon": nums})

                              email  nomor_telepon
0       fergusoncandice@example.com            274
1           palmerholly@example.com  0012554908535
2              robert63@example.org     6519921541
3                psmith@example.com    13007414573
4             phamkelly@example.org  0016579793268
5        williamsrhonda@example.com     9203504614
6        brittanyprince@example.org     8656120414
7                ebaker@example.com    17573688315
8              steven86@example.org            402
9           carlahardin@example.com     6437763061
10                 olam@example.com    17927141352
11        hopkinsmarvin@example.org     5413385236
12           terripitts@example.org  0018108403855
13             besttoni@example.org     2897151219
14            sjacobson@example.com    19569008896
15        sharonwiggins@example.com     6762175047
16        martinezcraig@example.com    15044197073
17               ismith@example.com  0018437584408
18             krista08@example.net     8694970102
19       martinezshelly@example.net  0013168992459
20        shannonwillis@example.net            740
21         fostermarcus@example.net            684
22               alan98@example.org            200
23               tbanks@example.com     9136179939
24          reedtimothy@example.org  0014074028429
25           danamiller@example.com     7712647980
26             rwalters@example.com     9389754133
27         ronaldmartin@example.org            571
28            heather22@example.org     9299743231
29              julia64@example.net     8617002255
30         morganpatton@example.org            427
31    mcconnellkimberly@example.net            295
32       rachelpeterson@example.com     9138818411
33              krogers@example.com  0014163185539
34              mfowler@example.com    13066022987
35         holmesamanda@example.org            411
36                kdiaz@example.com    18218263036
37         justingarcia@example.net  0015287029472
38           beckergary@example.net            399
39         brownmatthew@example.net  0018256076720
40            drakeryan@example.com     8754392486
41     kathrynarmstrong@example.com            515
42  williamschristopher@example.org     6646595611
43           zoevaughan@example.com     4322890122
44         grantmichael@example.com     3933101100
45               lpayne@example.net     4616501050
46              efuller@example.com     6728847128
47               uburke@example.org     7709986760
48          sarahwalker@example.net     5202372020
49               areyes@example.org  0013027687945
50             robert22@example.org     4103020361